﻿body, html{
    position:relative;
    top:0;
    height:auto;
    width:100%;
    padding:0;
    margin:0;
}
#featureimg{
    position:absolute;
    display:block;
    top:0;
    padding:0;
    margin:0;
    background-image:url("images/kraken2.jpg");
    height:420px;
    width:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    position:absolute;
    z-index:1;
    /*top:0;*/
    height:50px;
    width:100%;
    display:table;
    background: rgba(184, 214, 222, 0.3);
}
#navtext{
    font-family:Revellion;
    font-size:36pt;
    color:rgb(252, 252, 252);
    /*text-align:right;
    display:table-cell;
    vertical-align:middle;
    padding-right:16px;*/
}
li{
    display:table-cell;
    font-family:Revellion;
    font-size:24pt;
    text-align: left;
    vertical-align:middle;
    color:rgb(252, 252, 252);
    float:right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
} 
li a {
    display: block;
    color:rgb(252, 252, 252);
    padding: 0px 16px;
    text-decoration:none;
    text-shadow:1px 1px 1px grey;
    transition: all 0.3s ease-in;
}
li a:hover, .active{
	stroke-width: 5.3px;
    -webkit-text-stroke-color: #FFFFFF;
    -webkit-text-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px #00a9ff;
}

/* CSS Vertical Parallax */
* { 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
.parallax-e3 {
    z-index:0;
    -webkit-perspective: 100px; 
    perspective: 100px; 
    height: 420px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    position: relative; 
    top: 0; 
    left: 50%; 
    right: 0; 
    bottom: 0; 
    margin-left: -50%; 
}

.layer-p1-e3 {
     -webkit-transform: translateY(-1000px) translateZ(-600px) scale(7); 
     transform: translateY(-1000px) translateZ(-600px) scale(7); 
}
.layer-p2-e3 { 
    -webkit-transform: translateY(-1200px) translateZ(-500px) scale(6); 
    transform: translateY(-1200px) translateZ(-500px) scale(6);
}
.layer-p3-e3 { 
    -webkit-transform: translateY(-50px) translateZ(-200px) scale(3); 
    transform: translateY(-50px) translateZ(-200px) scale(3); 
}
.layer-p4-e3 { 
    -webkit-transform: translateY(210px) translateZ(-150px) scale(2.5); 
    transform: translateY(210px) translateZ(-150px) scale(2.5); 
}
.layer-p5-e3 { 
    -webkit-transform: translateY(240px) translateZ(-100px) scale(2); 
    transform: translateY(240px) translateZ(-100px) scale(2); 
}
.layer-p6-e3 { 
    -webkit-transform: translateY(54px) translateZ(-50px) scale(1.5); 
    transform: translateY(54px) translateZ(-50px) scale(1.5); 
}
.layer-p7-e3 { 
    -webkit-transform: translateY(38px) translateZ(-25px) scale(1.25); 
    transform: translateY(38px) translateZ(-25px) scale(1.25); 
}

.main{
    display:block;
    height:1000px;
    width:100%;
    background-color:black;
}



